@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Inria+Sans:wght@300&family=Lato:ital,wght@0,400;1,300&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Comic Neue', sans-serif;
  margin: 0 50px 50px 50px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

@media (max-width: 768px){
  body {
    margin: 0 20px 20px 20px;
  }
}

@media (max-width: 420px){
  body {
    margin: 0 20px 20px 20px;
  }
}